{% extends "templates/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/{{ demo_name }}/css/style.css">
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">
  var DEMO_NAME = '{{ demo_name }}';
  var DEMO_ID = '{{ demo_id }}';
  var IMAGE_NAME = '{{ image_name }}';
  var IMAGE_FAMILY = '{{ image_family }}';
</script>
<script type="text/javascript" src="/js/gce.js"></script>
<script type="text/javascript" src="/js/squares.js"></script>
<script type="text/javascript" src="/js/timer.js"></script>
<script type="text/javascript" src="/js/counter.js"></script>
<script type="text/javascript" src="/{{ demo_name }}/js/script.js"></script>
{% endblock %}

{% block content %}
<h1>
  Welcome to Quick Start! <script type="text/javascript">var utc = new Date().toJSON().slice(0,10);
  document.write(utc);</script>
</h1>
<div style="float:left">
<p>
  This demo shows just how quick it is to start hundreds of instances.
</p>

<p>
  <a href="/{{ demo_name }}/project">Edit</a> your Compute Engine project
  information.
</p>
</div>
<div style="float:right">
	<table>
		<thead><tr><th>Legend</th></tr></thead>
		<tbody>
			<tr>
				<td>Provisioning</td>
				<td><div class="color-block status-provisioning" title="Resources are being reserved for the instance, it's not yet running"><i class="icon-ok icon-2x"></i></div></td>
				<td>Staging</td>
				<td><div class="color-block status-staging" title="Resources have been acquired and the instance is being prepared for launch"><i class="icon-ok icon-2x"></i></div></td>
				<td>Running</td>
				<td><div class="color-block status-running" title="Instance is booting up or running, SSH-able imminently"><i class="icon-ok icon-2x"></i></div></td>
			</tr>
			<tr>
				<td>Stopping</td>
				<td><div class="color-block status-stopping" title="The instance is being stopped either due to failure or shutdown."><i class="icon-ok icon-2x"></i></div></td>
<!-- 				<td>Stopped</td> -->
<!-- 				<td><div class="color-block status-stopped"><i class="icon-ok icon-2x"></i></div></td> -->
				<td>Terminated</td>
				<td><div class="color-block status-terminated" title="The instance was shut down"><i class="icon-ok icon-2x"></i></div></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<div>
<p>
  <input type="text" id="num-instances" value="{{startedVMs}}">
  <input type="hidden" id="target-instances" value="{{targetVMs}}">
  <input type="hidden" id="start-time" value="{{startTime}}">
  <a class="btn" id="start">Start</a>
  <a class="btn disabled" id="reset">Reset</a>
  &nbsp;&nbsp;<span id="in-progress"></span>
</p>

<div>
  <canvas id="counter"></canvas>
  <span id="elapsed-time">Timer: <span id="timer"></span></span>
  <div id="first-instance"></div>
</div>
<div id="instances"></div>
{% endblock %}
</div>